<h1><%=@team[:name]%></h1>
<h3>Team Motto: <%=@team[:motto]%></h3>
<br><br>
<h2>Hero Name: <%=@hero_1[:name]%></h2>
<p>Hero Power: <%=@hero_1[:power]%></p>
<p>Hero Biography: <%=@hero_1[:bio]%></p>
<br><br>
<h2>Hero Name: <%=@hero_2[:name]%></h2>
<p>Hero Power: <%=@hero_2[:power]%></p>
<p>Hero Biography: <%=@hero_2[:bio]%></p>
<br><br>
<h2>Hero Name: <%=@hero_3[:name]%></h2>
<p>Hero Power: <%=@hero_3[:power]%></p>
<p>Hero Biography: <%=@hero_3[:bio]%></p>
<br><br>

